####################################
# TVHeadend Appliance
####################################

M3U_URL=https://raw.githubusercontent.com/Free-TV/IPTV/master/playlists/playlist_germany.m3u8

EPG_URL=

INSTALL_DIR=/opt/tvheadend

RECORDINGS_DIR=/srv/recordings

